@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAFC;
  --foreground: #1E3A5F;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
